		<header class="header-area header-style-3 absolute-bar">
            <div class="header-top transparent-bar white-bar">
                <div class="header-logo">
                    <a href="/">
                        <h3>Anja Wedell</h3>
                        <!--<img src="assets/img/logo/1.png" alt="">-->
                    </a>
                </div>
                <div class="main-menu">
                    <nav>
                        <ul>
                            <li><a href="/">Hjem</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/contact">Contact</a></li>
                            <!--
                            <li><a href="shop-1.html">shop <i class="fa fa-angle-down"></i></a>
                                <div class="mega-menu width-col3">
                                    <ul class="single-mega-col3">
                                        <li class="menu-title">dress</li>
                                        <li><a href="shop-1.html">Shirt</a></li>
                                        <li><a href="shop-1.html">Pants</a></li>
                                        <li><a href="shop-1.html">T-Shirts</a></li>
                                        <li><a href="shop-1.html">Sharee</a></li>
                                        <li><a href="shop-1.html">Lahenga</a></li>
                                    </ul>
                                    <ul class="single-mega-col3">
                                        <li class="menu-title">Shoes</li>
                                        <li><a href="shop-2.html">Sandal</a></li>
                                        <li><a href="shop-1.html">Slipper</a></li>
                                        <li><a href="shop-1.html">Toe shoe</a></li>
                                        <li><a href="shop-1.html">Snow boot</a></li>
                                        <li><a href="shop-1.html">Sneakers</a></li>
                                    </ul>
                                    <ul class="single-mega-col3">
                                        <li class="menu-title">Watch</li>
                                        <li><a href="shop-1.html">Accurist</a></li>
                                        <li><a href="shop-1.html">Bausele</a></li>
                                        <li><a href="shop-1.html">Casio</a></li>
                                        <li><a href="shop-1.html">Damasko</a></li>
                                        <li><a href="shop-1.html">Eterna</a></li>
                                    </ul>
                                </div>
                            </li>
                            
                            <li><a href="#">pages <i class="fa fa-angle-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="about.html">about us</a> </li>
                                    <li><a href="services.html">services</a></li>
                                    <li><a href="#">shop <span><i class="fa fa-angle-right"></i></span></a>
                                        <ul>
                                            <li><a href="shop-1.html">shop style 1</a></li>
                                            <li><a href="shop-2.html">shop style 2</a></li>
                                            <li><a href="products.html">shop style 3</a></li>
                                            <li><a href="product-sidebar.html">shop sidebar</a></li>
                                            <li><a href="product-details.html">single product</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">portfolio <span><i class="fa fa-angle-right"></i></span></a>
                                        <ul>
                                            <li><a href="portfolio-2-col.html">portfolio 2 column</a></li>
                                            <li><a href="portfolio-3-col.html">portfolio 3 column</a></li>
                                            <li><a href="portfolio-4-col.html">portfolio 4 column</a></li>
                                            <li><a href="single-portfolio-1.html">single portfolio 1</a></li>
                                            <li><a href="single-portfolio-2.html">single portfolio 2</a></li>
                                            <li><a href="single-portfolio-3.html">single portfolio 3</a></li>
                                            <li><a href="single-portfolio-4.html">single portfolio 4</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">blog <span><i class="fa fa-angle-right"></i></span></a>
                                        <ul>
                                            <li><a href="blog.html">blog page</a></li>
                                            <li><a href="blog-left-sidebar.html">blog left sidebar</a></li>
                                            <li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
                                            <li><a href="blog-details.html">blog details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="cart.html">cart page </a></li>
                                    <li><a href="wishlist.html">wishlist </a></li>
                                    <li><a href="checkout.html">checkout </a></li>
                                    <li><a href="login.html">login </a></li>
                                    <li><a href="register.html">register </a></li>
                                    <li><a href="company.html"> company </a></li>
                                    <li><a href="contact.html">contact us</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html"> Blog <i class="fa fa-angle-down"></i></a>
                                <ul>
                                    <li><a href="blog.html">blog page</a></li>
                                    <li><a href="blog-left-sidebar.html">blog left sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
                                    <li><a href="blog-details.html">blog details</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html"> Contact  </a></li>
							-->
                        </ul>
                    </nav>
                </div>
				
                <div class="header-search-cart">
					<!--
                    <div class="header-social common-style">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="header-search common-style">
                        <a class="icon-search" href="#"><i class="fa fa-search"></i></a>
                        <div class="toogle-content">
                            <form action="#" id="searchbox">
                                <input type="text" placeholder="Search" />
                                <button class="button-search"></button>
                            </form>
                        </div> 
                    </div>
					-->
                    <div class="header-bar common-style toggle__menu">
                        <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                    </div>
                </div>
				
                <div class="mobile-menu-area visible-xs">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active">
                            <ul class="menu-overflow">
                                <li><a href="/">HOME</a>
									<!--
                                    <ul>
                                        <li><a href="index.html">home version 1</a></li>
                                        <li><a href="index-2.html">home version 2</a></li>
                                        <li><a href="index-3.html">home version 3</a></li>
                                        <li><a href="index-4.html">home version 4</a></li>
                                        <li><a href="index-5.html">home version 5</a></li>
                                        <li><a href="index-6.html">home version 6</a></li>
                                        <li><a href="index-7.html">home version 7</a></li>
                                    </ul>
									-->
                                </li>
								<li><a href="/about">About</a></li>
								<li><a href="/contact">Contact</a></li>
								<!--
                                <li><a href="#">pages</a>
                                    <ul>
                                        <li><a href="about.html">about us</a> </li>
                                        <li><a href="services.html">services</a></li>
                                        <li><a href="shop-1.html">shop style 1</a></li>
                                        <li><a href="shop-2.html">shop style 2</a></li>
                                        <li><a href="products.html">shop style 3</a></li>
                                        <li><a href="product-sidebar.html">shop sidebar</a></li>
                                        <li><a href="product-details.html">single product</a></li>
                                        <li><a href="cart.html">cart page </a></li>
                                        <li><a href="wishlist.html">wishlist </a></li>
                                        <li><a href="checkout.html">checkout </a></li>
                                        <li><a href="login.html">login </a></li>
                                        <li><a href="register.html">register </a></li>
                                        <li><a href="company.html"> company </a></li>
                                        <li><a href="contact.html">contact us</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Portfolio</a>
                                    <ul>
                                        <li><a href="portfolio-2-col.html">portfolio 2 column</a></li>
                                        <li><a href="portfolio-3-col.html">portfolio 3 column</a></li>
                                        <li><a href="portfolio-4-col.html">portfolio 4 column</a></li>
                                        <li><a href="single-portfolio-1.html">single portfolio 1</a></li>
                                        <li><a href="single-portfolio-2.html">single portfolio 2</a></li>
                                        <li><a href="single-portfolio-3.html">single portfolio 3</a></li>
                                        <li><a href="single-portfolio-4.html">single portfolio 4</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog-1.html">BLOG</a>
                                    <ul>
                                        <li><a href="blog.html">blog page</a></li>
                                        <li><a href="blog-left-sidebar.html">blog left sidebar</a></li>
                                        <li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
                                        <li><a href="blog-details.html">blog details</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html"> Contact  </a></li>
								-->
                            </ul>
                        </nav>							
                    </div>
                </div>
            </div>
		</header>