<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ately - Minimal Portfolio Ecommerce Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Favicon icon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
		
		<!-- all css here -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/meanmenu.min.css">
        <link rel="stylesheet" href="assets/css/bundle.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
        <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- header start -->
		<% include partials/header.ejs %>
		<!-- header end -->
		<!-- Start Offset Wrapper -->
        <div class="body__overlay"></div>
        <div class="offset__wrapper">
            <!-- Start Offset MEnu -->
            <% include partials/offsetmenu.ejs %>
            <!-- end offset menu -->
        </div>
		<!-- breadcrumb start -->
		<div class="breadcrumb-area">
		    <div class="container">
		        <div class="breadcrumb-text">
		            <ul>
                        <li><a href="#">home</a> <i class="fa fa-caret-right"></i></li>
                        <li>about us</li>
                    </ul>
		        </div>
		    </div>
		</div>
		<!-- breadcrumb end -->
		<!-- company about area start -->
		<div class="company-about about-area pt-85 pb-100 gray-bg-4">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-6">
		                <div class="company-about-dec">
		                    <h2 class="about-section-title about-section-title1">About <br> Us</h2>
		                    <h4><span> In</span> life there will be road blocks but we will over come it. They never said winning was easy. </h4>
		                    <p>Lorem Khaled Ipsum is a major key to success. Celebrate success right, the only way, apple. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started. Surround yourself with angels. I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. You do know, you do know that they don’t want you to have lunch. </p>
		                    <a href="#">Read More</a>
		                </div>
		            </div>
		            <div class="col-md-6">
		                <div class="company-services">
		                    <div class="company-single-service">
                                <div class="company-service-icon">
                                    <i class="fa fa-deaf"></i>
                                </div>
                                <div class="company-service-text">
                                    <h3>Unique Idea</h3>
                                    <p>Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants.</p>
                                </div>
                            </div>
		                    <div class="company-single-service">
                                <div class="company-service-icon">
                                    <i class="fa fa-connectdevelop"></i>
                                </div>
                                <div class="company-service-text">
                                    <h3>Hight Quality</h3>
                                    <p>Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants.</p>
                                </div>
                            </div>
		                    <div class="company-single-service">
                                <div class="company-service-icon">
                                    <i class="fa fa-american-sign-language-interpreting"></i>
                                </div>
                                <div class="company-service-text">
                                    <h3>The Best Products</h3>
                                    <p>Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants.</p>
                                </div>
                            </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!-- company about area end -->
		<div class="about-skill-person">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="about-section-title about-section-title2 pt-85">our <br> skill</h2>
                        <div class="skill-area about-skill-area">
                            <div class="single-skill">
                                <h4 class="skill-title">Web Design</h4>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                        <span>85%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-skill">
                                <h4 class="skill-title">Development</h4>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                        <span>75%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-skill">
                                <h4 class="skill-title">Branding</h4>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                        <span>90%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-skill">
                                <h4 class="skill-title">Maketting</h4>
                                <div class="progress none-mrg">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                        <span>70%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="skill-img about-skill-img">
                            <img src="assets/img/team/1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<div class="team-area pt-150 pb-40 about-team-area">
		    <div class="container">
                <div class="team-title mb-65">
                    <h2 class="about-section-title about-section-title3">our <br> team</h2>
                </div>
		        <div class="row">
		            <div class="col-md-3 col-sm-6">
		                <div class="single-team text-center mb-30">
		                    <div class="team-img">
		                        <img src="assets/img/team/1.jpg" alt="">
		                        <div class="team-social">
		                            <ul>
		                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
		                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
		                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
		                            </ul>
		                        </div>
		                    </div>
		                    <div class="team-content">
		                        <h4>Mr.Mike Banding</h4>
		                        <span>Director</span>
		                    </div>
		                </div>
		            </div>
		            <div class="col-md-3 col-sm-6">
		                <div class="single-team text-center mb-30">
		                    <div class="team-img">
		                        <img src="assets/img/team/2.jpg" alt="">
		                        <div class="team-social">
		                            <ul>
		                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
		                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
		                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
		                            </ul>
		                        </div>
		                    </div>
		                    <div class="team-content">
		                        <h4>Ms.Sophia</h4>
		                        <span>Designer</span>
		                    </div>
		                </div>
		            </div>
		            <div class="col-md-3 col-sm-6">
		                <div class="single-team text-center mb-30">
		                    <div class="team-img">
		                        <img src="assets/img/team/3.jpg" alt="">
		                        <div class="team-social">
		                            <ul>
		                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
		                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
		                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
		                            </ul>
		                        </div>
		                    </div>
		                    <div class="team-content">
		                        <h4>Mr.Peter Pan</h4>
		                        <span>Development</span>
		                    </div>
		                </div>
		            </div>
		            <div class="col-md-3 col-sm-6">
		                <div class="single-team text-center mb-30">
		                    <div class="team-img">
		                        <img src="assets/img/team/4.jpg" alt="">
		                        <div class="team-social">
		                            <ul>
		                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
		                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
		                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
		                            </ul>
		                        </div>
		                    </div>
		                    <div class="team-content">
		                        <h4>Mr.John Lee</h4>
		                        <span>SEOer</span>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!-- brand area start -->
		<div class="brand-area company-brand-area pt-70 pb-70 border-top">
		    <div class="container">
                <div class="brand-hover">
                    <div class="brand-logo-active owl-carousel">
                        <div class="single-brand">
                            <a href="#"><img src="assets/img/brand-logo/1.png" alt=""></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="assets/img/brand-logo/2.png" alt=""></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="assets/img/brand-logo/3.png" alt=""></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="assets/img/brand-logo/4.png" alt=""></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="assets/img/brand-logo/5.png" alt=""></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="assets/img/brand-logo/1.png" alt=""></a>
                        </div>
                    </div>
                </div>
		    </div>
		</div>
		<!-- brand area end -->
		<!-- footer area start -->
        <% include partials/footer.ejs %>
        <!-- footer area end -->
        
        
        
        
        
        
        
        
		<!-- all js here -->
        <script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="assets/js/jquery.counterup.min.js"></script>
        <script src="assets/js/waypoints.min.js"></script>
        <script src="assets/js/ajax-mail.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
